/web-perpus/.phpunit.cache
/web-perpus/node_modules
/web-perpus/public/build
/web-perpus/public/hot
/web-perpus/public/storage
/web-perpus/storage/*.key
/web-perpus/vendor
/web-perpus/.env
/web-perpus/.env.backup
/web-perpus/.env.production
/web-perpus/.phpunit.result.cache
/web-perpus/Homestead.json
/web-perpus/Homestead.yaml
/web-perpus/auth.json
/web-perpus/npm-debug.log
/web-perpus/yarn-error.log
/web-perpus/.fleet
/.idea
/.vscode
